__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pycache/
*.pytest_cache/
*.mypy_cache/
*.coverage
*.coverage.*
.cache
.pytest_cache/
.pyre/
.env
.env.*
*.env
*.venv

.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

.vscode/

.DS_Store

*.log

*.pyc
*.pyo
*.pyd

build/
dist/
*.egg-info/
.eggs/

.ipynb_checkpoints/
